<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="methods" thread-count="2">
    <test name="API Tests">
        <classes>
            <class name="com.example.APITest"/>
        </classes>
    </test>
    <test name="API Tests Client">
        <classes>
            <class name="com.example.APITestClient"/>
        </classes>
    </test>
    <test name="API Tests Client with Headers">
        <classes>
            <class name="com.example.APITestClientWithHeadersAndStatusCode"/>
        </classes>
    </test>

</suite>